<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- this is my comment -->
    <h1>
        <%= locals.user || "Please log in"%>
    </h1>
    <p><a href="/users">User Page</a></p>
    <p><a href = "/users/new">New Users</a></p>
    <p><a href = "/posts"> Posts Page</a></p>
    <p><a href = "/posts/new">Created New Posts</a></p>

</body>
</html>